<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="lwes"
						 type="Org.Lwes.Config.LwesConfigurationSection, Org.Lwes"/>
	</configSections>
	<lwes>
		<listeners>
			<add name="default"
					 multicast = "true"
					 parallel ="false" />
		</listeners>
	</lwes>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
</configuration>