<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="lwes"
						 type="Org.Lwes.Config.LwesConfigurationSection, Org.Lwes"/>
	</configSections>
	<lwes>
		<listeners>
			<add name="default"
					 multicast = "true"
					 parallel ="true" />
		</listeners>
	</lwes>
	<system.diagnostics>
		<sources>
			<source name="Org.Lwes" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
				<listeners>
					<add name="logfile" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="lwes" type="Org.Lwes.LwesTraceListener, Org.Lwes"
					 BindEmitterByName="default" />
			<add name="logfile"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="Lwes-test-listener-console.log" />
			<add name="console"
          type="System.Diagnostics.ConsoleTraceListener" />
		</sharedListeners>
		<trace autoflush="true" indentsize="2" />
	</system.diagnostics>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
</configuration>