<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="lwes"
						 type="Org.Lwes.Config.LwesConfigurationSection, Org.Lwes"/>
	</configSections>
	<lwes maximumBufferMemory="0x20000000" bufferAllocationLength="65535">
		<emitters>
			<add name="default"
					 multicast = "true"
					 parallel ="true" />
		</emitters>
	</lwes>
	<system.diagnostics>
		<sources>
			<source name="Org.Lwes" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
				<listeners>
					<add name="lwes" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="lwes" type="Org.Lwes.LwesTraceListener, Org.Lwes" 
					 BindEmitterByName="default"
				/>
		</sharedListeners>
		<trace autoflush="true" indentsize="2" />
	</system.diagnostics>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
</configuration>