<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="lwes"
						 type="Org.Lwes.Config.LwesConfigurationSection, Org.Lwes"/>
	</configSections>
	<!-- 
	LWES configuration section
	
	Attributes:
	
	"maximumBufferMemory" - Represents the maximum amount of memory used for
	buffering events. This maximum is enforced by the BufferManager and will
	limit the throughput of both emitters and listeners if the setting is not
	large enough for the speed at which events are submitted to LWES. Note 
	that the maximum must be large enough for at least 3 simultaneous buffers
	of size "bufferAllocationLength" in order for the ParallelEmitter and 
	ParallelListener to function properly. Default value is 0x20000000, or .5GB
	
	"bufferAllocationLength" - Represents the default buffer allocation length.
	Listeners acquire buffers of this length from the BufferManager when waiting
	for incoming events. This setting should be large enough to hold a single
	serialized LWES event, but as LWES uses the UDP protocol it isn't useful to
	make the buffer larger than the default value of 65535.
	
	Nodes:
	
	"emitters" - A collection of named emitter configurations.
	
	"listeners" - A collection of named listener configurations.
	
	"templateDBs" - A collection of named template DBs.	 
	-->
	<lwes maximumBufferMemory="0x20000000" bufferAllocationLength="65535">
		<emitters>
			<!-- 
			Adds a named event emitter.
			
			LWES will sets up a default emitter automatically. The default emitter is
			equivelent to the following node:
			
			&lt;add name="deafult" 
				multicast="true" 
				parallel="true"
				encoding="Default"
				address="224.0.0.69"
				port="9191"
				multicastTimeToLive="31"&gt;
				
			You may override the default emitter by adding your own emitter named "default".
			
			Attributes:
			
			"name" = { case-sensitive-string } - the name of the emitter. 
			This attribute is required.
						
			"parallel" = { true | false } - indicates whether the emitter will use the 
			parallel emitting	strategy. The default value is "true"; if set to "false" 
			then the emitter will use the direct strategy. The parallel strategy will 
			utilize between 0 and 3	threadpool threads to emit events to LWES. The parallel 
			strategy non-blocking	and thread-safe. The direct strategy serializes and sends 
			the event to LWES utilizing the calling thread and may block during the IO 
			operation.
			
			"multicast" = { true | false } - indicates whether the emitter will multicast
			the event to LWES	or unicast. The default value is "true"; if set to "false" 
			the emitter will use unicast.
			
			"encoding" = { UTF_8 | ISO_8859_1 | Default } - indicates the encoding used 
			for events created by the emitter. The default value is "UTF_8".
			
			"address" = { ip-address-string } - indicates the IP address for emitting LWES
			events. The default value is "224.0.0.69".
			
			"port" = { integer-string } - indicates the port for emitting LWES
			events. The default value is "9191".
			
			"multicastTimeToLive" = { true | false } - indicates the multicast time-to-live
			utilized if the emitter is using multicast; otherwise it is ignored.
			-->
			<add name="secondary"
					 multicast="true"
					 parallel="false"
					 address="127.0.0.1"
					 port="1313"
					 multicastTimeToLive="2"/>
		</emitters>
		<listeners>
			<!-- 
			Adds a named event listener.
			
			LWES will sets up a default listener automatically. The default listener is
			equivelent to the following node:
			
			&lt;add name="deafult" 
				multicast="true" 
				parallel="true"
				address="224.0.0.69"
				port="9191"&gt;
				
			You may override the default listener by adding your own listener named "default".
			
			Attributes:
			
			"name" = { case-sensitive-string } - the name of the listener. 
			This attribute is required.
						
			"parallel" = { true | false } - indicates whether the listener will use the 
			parallel listening	strategy. The default value is "true"; if set to "false" 
			then the listener will use the multithreaded strategy. The parallel strategy will 
			utilize between 1 and 3	threadpool threads to receive events from LWES and
			issue the corresponding dotNET events. The parallel strategy non-blocking	and 
			thread-safe. The multithreaded strategy uses 2 dedicated background threads; one
			for listening to the socket and another for deserializing and dispatching the
			corresponding dotNET events.
			
			"multicast" = { true | false } - indicates whether the listener will join a 
			multicast group when listening for LWES events. The default value is "true"; 
			if set to "false" the emitter will use unicast.
			
			"address" = { ip-address-string } - indicates the IP address for listener for
			LWES events. The default value is "224.0.0.69".
			
			"port" = { integer-string } - indicates the port for listening for LWES
			events. The default value is "9191".			
			-->
			<add name="secondary"
					 multicast="true"
					 parallel="false"
					 address="127.0.0.1"
					 port="1313"/>
		</listeners>
	</lwes>
	<system.diagnostics>
		<sources>
			<source name="lwes-switch" switchName="DebugSwitch" switchType="System.Diagnostics.SourceSwitch" >
				<listeners>
					<add name="lwes" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DebugSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<!-- 
			Adds an LwesTraceListener as a shared listener.
									
			Attributes:
			
			"name" = { case-sensitive-string } - the name of the listener. 
			This attribute is required. NOTE: This names the LwesTraceListener among
			the dotNET framework's TraceListeners and is unrelated to the names found
			in under the "lwes" configuration section.
			
			"type" = { type-reference }
			
			"BindEmitterByName" = { lwes-emitter-name } - causes the trace listener to
			use an emitter configured under the "lwes" configuration section.
						
			"Parallel" = { true | false } - indicates whether the listener will use the 
			parallel listening	strategy. The default value is "true"; if set to "false" 
			then the listener will use the multithreaded strategy. The parallel strategy will 
			utilize between 1 and 3	threadpool threads to receive events from LWES and
			issue the corresponding dotNET events. The parallel strategy non-blocking	and 
			thread-safe. The multithreaded strategy uses 2 dedicated background threads; one
			for listening to the socket and another for deserializing and dispatching the
			corresponding dotNET events.
			
			"Multicast" = { true | false } - indicates whether the listener will join a 
			multicast group when listening for LWES events. The default value is "true"; 
			if set to "false" the emitter will use unicast.
			
			"Address" = { ip-address-string } - indicates the IP address for listener for
			LWES events. The default value is "224.0.0.69".
			
			"Port" = { integer-string } - indicates the port for listening for LWES
			events. The default value is "9191".
			-->
			<add name="lwes" type="Org.Lwes.LwesTraceListener, Org.Lwes"
					 initializeData="TestListener"
					 Multicast="true"
					 Address = "224.0.0.69"
					 Port = "9191"
					 MutlicastTimeToLive = "31"
				/>
		</sharedListeners>
		<trace autoflush="true" indentsize="2" />
	</system.diagnostics>
</configuration>