<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="lwes"
						 type="Org.Lwes.Config.LwesConfigurationSection, Org.Lwes"/>
	</configSections>
	<lwes>
		<emitters>
			<add name="Default"
					 multicast = "true"
					 parallel ="false" />
		</emitters>
	</lwes>
	<system.diagnostics>
		<sources>
			<source name="Console" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
				<listeners>
					<add name="lwes" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<!-- Add the LwesTraceListener as a shared listener, this listener will
			multicast the messages recieved by the listener to the LWES. For most
			applications that use the stock DotNet diagnostics trace framework this
			will be the only setting required. -->
			<add name="lwes" type="Org.Lwes.LwesTraceListener, Org.Lwes" 
					 initializeData="TestListener" 
					 EmitterType="multicast"
					 Address = "224.0.0.69"
					 Port = "9191"
					 MutlicastTimeToLive = "31"
				/>
		</sharedListeners>
		<trace autoflush="true" indentsize="2" />
	</system.diagnostics>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
</configuration>